<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.meghprkh.samehue"
    versionCode = "1"
    version     = "1.0.0" >

  <name>Same Hue</name>

  <description>
    A simple yet challenging puzzle.
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
    Megh Parikh
  </author>

	<icon src="icon.png" />

</widget>
