body {
	background-color:#FAF8EF;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.body {
    margin-left: auto;
    margin-right: auto;
}

.body-without-border {
    margin-left: auto;
    margin-right: auto;
}

.body-without-border div {
    padding: 5px;
	background-color:#3a3a3c;
	color:#FAF8EF;
}

.tab {
    display:inline-block;
    margin-top:5px;
    border-collapse:collapse;
    border: 5px solid #3a3a3c;
    border-radius: 3px;
    cursor:default;
    text-align:left;
}

.fullwidth {
    width : 100%;
}

#score {
    border-collapse:collapse;
    border: 0px none;
    cursor:default;
}

#tab {
	-ms-touch-action: none;
}

#tab span {
    display:inline-block;
    padding:0;margin:0;
    color:#FAF8EF;
    text-align:center;
}

#scorerow td {
    padding:0;margin:0;
    color:#FAF8EF;
    text-align:center;
    font-weight:bold;
}

.c0 {background-color:#e85444}
.c1 {background-color:#f1c40f}
.c2 {background-color:#2ecc71}
.c3 {background-color:#3498db}
.c4 {background-color:#9b59b6}
.c5 {background-color:#34495e}
.sbetn {width:10px !important;}

#container {
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right {
    text-align:right;
}

/* Top Menu Icons */
.menu {
	text-align:justify;
	cursor:default;
	padding-top:5px;
	padding-bottom:5px;
}
.menu:after {
    content:' ';
    display:inline-block;
    width: 100%;
    height: 0;
}

.menu > a {
	color: #3a3a3c;
	text-decoration: none;
    display:inline-block;
}

.menu > a:hover {
	text-decoration: none;
}



#move td {
    margin:0;
    color:#FAF8EF;
    text-align:center;
    font-weight:bold;
}
.scorelabel {
    padding: 5px;
    background-color:#555555;
}

#HelpAndSettings {
    display:none;
}

#HelpAndSettings > div {
    display : block;
}

#ReturnToGame {
    display:block;
    font-size:x-large;
}

#confirmNewGame {
    font-size:x-large;
    text-align:center;
}

#confirmNewGame > .button {
    margin : 15px;
}
.green {
    background-color:#2ecc71 !important;
}

.red {
    background-color:#e85444 !important;
}

.button {
    cursor : pointer;
    padding : 10px;
}
